totem {
  version: 2
  cluster_name: {{ pacemaker_corosync_group }}
{% if pacemaker_enable_nodelist|default(true) %}
  transport: udpu
{% endif %}
  interface {
    ringnumber: 0
    bindnetaddr: {{ hostvars[inventory_hostname]['ansible_' + pacemaker_corosync_ring_interface].ipv4.address }}
    broadcast: yes
    mcastport: 5405
  }
}

quorum {
  provider: corosync_votequorum
{% if groups[pacemaker_corosync_group]|count == 2 %}
  two_node: 1
{% else %}
  wait_for_all: 1
  last_man_standing: 1
{% endif %}
{% if not pacemaker_enable_nodelist|default(true) %}
  expected_votes: {{ groups[pacemaker_corosync_group]|count }}
{% endif %}
}

{% if pacemaker_enable_nodelist|default(true) %}
nodelist {
{% for node in groups[pacemaker_corosync_group]|sort %}
  node {
    ring0_addr: {{ hostvars[node]['ansible_' + pacemaker_corosync_ring_interface].ipv4.address }}
    name: {{ node }}
    nodeid: {{ loop.index }}
  }
{% endfor %}
}
{% endif %}

logging {
  to_logfile: yes
  logfile: /var/log/corosync/corosync.log
  to_syslog: yes
  timestamp: on
}

